<% include ../partials/header.ejs %>

<div class="container-fluid p-0">
	<div class="jumbotron text-center">
			<h1>Snapshare</h1>
			<p class="lead">Share your favorite Snaps</p>
			<a href="/snaps/new" class="btn btn-primary">Add a new Snap</a>
	</div>
</div>
<div class="container">
	<div class="row align-items-center">
		<% snaps.forEach(function(snap) { %>
			<div class="col-6 col-md-3 p-0">
				<div class="el-container">
					<a href="/snaps/<%= snap.id %>">
						<img src="<%= snap.imgurl %>" class="snap" alt="<%= snap.title %>">
						<div class="label">
							<div class="btn btn-primary">
								Go to Snap
							</div>
						</div>
					</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>



<% include ../partials/footer.ejs %>