body {
	font-family: 'Roboto', 'Arial', sans-serif;
}
.nopadding {
	padding: 0 !important;
}
.grid img {
	border-radius: 5%;
	padding: 5px;
	width:100%;
}
.btn-wider-sm {
	width: 40px;
}
.banner32 {
	height: 32px;
}
.btn-wider-lg {
	width: 100px;
}
