body {
	font-family: 'Roboto', 'Arial', sans-serif;
}
.btn-wide {
	width: 40px;
	padding-bottom: 0;
}
.btn-new {
	vertical-align: middle;
}
.commentbox {
	background-color: #eee;
	padding: 20px;
}
.commentbox p {
	margin: 0;
}
.octi-logo {
	fill: #fff;
	width: 32px;
	height: 32px;
	vertical-align: text-bottom;
}
.octi-sm {
	fill: #fff;
	height: 16px; 
}
.octi-nav {
	vertical-align: text-top;
}
.octi-sm-label {
	fill: #fff;
	height: 16px;
	vertical-align: text-bottom;
}
.jumbotron {
	background-color: #eee;
}
.el-container {
	position: relative;
	padding: 5px;
}
.snap {
	width:100%;
	opacity: 1;
	display: block;
	transition: .05s ease;
}
.snap {
	border-radius: 5%;
}
.label {
	transition: 0.3s linear;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.el-container:hover .snap {
	filter: brightness(50%);
}
.el-container:hover .user {
	filter: brightness(50%);
}
.el-container:hover .label {
	opacity: 1;
}
.navbar-dark .navbar-text {
	color: #fff;
}
.flash-message {
	text-align: center;
	width: 100%;
	max-width: 400px;	
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.snap-lg {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}
.rating {
	text-align: right;
	padding-right: 20px;
}
@media screen and (min-width: 992px) {
	#underlined {
		width: 0px;
		margin: auto;
		border-bottom: 2px solid #007bff;
		transition: .5s ease;
		-webkit-transition: .5s ease;
	}
	.fix-height {
		height: 42px;
	}
}
.align-last-col td:nth-last-of-type(1) {
	text-align: right;
}
.align-last-col th:nth-of-type(2) {
	text-align: right;
}
.user-image {
	width: 100%;
	max-height: 500px;
}
