body {
	font-family: 'Roboto', 'Arial', sans-serif;
}
.grid img {
	border-radius: 5%;
	padding: 5px;
	width:100%;
}
.btn-wide {
	width: 40px;
	padding-bottom: 0;
}
.btn-vote {
	width: 100px;
	padding-bottom: 0;
}
.btn-new {
	vertical-align: middle;
}
.banner32 {
	height: 32px;
}
.commentbox {
	background-color: #eee;
	padding: 20px;
}
.commentbox p {
	margin: 0;
}
.octi-logo {
	fill: #fff;
	width: 32px;
	height: 32px;
	vertical-align: text-bottom;
}
.octi-sm {
	fill: #fff;
	height: 16px; 
}
.octi-nav {
	vertical-align: text-top;
}
.octi-sm-label {
	fill: #fff;
	height: 16px;
	vertical-align: text-bottom;
}
.octi-vote-plus {
	fill: darkgreen;
	width: 48px;
	height: 48px;
}
.octi-vote-min {
	fill: darkred;
	width: 48px;
	height: 48px;
}
.jumbotron {
	background-color: #fff;
}
.snap-container {
	position: relative;
}
.snap {
	opacity: 1;
	display: block;
	transition: .05s ease;
}
.label {
	transition: 0.3s linear;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.snap-container:hover .snap {
	filter: brightness(50%);
}
.snap-container:hover .label {
	opacity: 1;
}
.label-text {
	width: 180px;
}
.navbar-dark .navbar-text {
	color: #fff;
}