body {
	font-family: 'Roboto', 'Arial', sans-serif;
}
.nopadding {
	padding: 0 !important;
}
.grid img {
	border-radius: 5%;
	padding: 5px;
	width:100%;
}
.btn-trashcan {
	width: 40px;
	padding-bottom: 0;
}
.btn-vote {
	width: 100px;
	padding-bottom: 0;
}
.btn-new {
	vertical-align: middle;
}
.banner32 {
	height: 32px;
}
.commentbox {
	background-color: #eee;
	padding: 20px;
}
.commentbox p {
	margin: 0;
}
